@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    b, strong{
        @apply font-semibold
    }

    .font-body{
        @apply tracking-widest
    }

    .font-body p,
    .font-body .subtitle{
        @apply tracking-wide
    }
}

@layer utilities{
    .h-d-screen {
        height: 100vh;
        height: 100dvh;
    }
    .text-outline{
        text-shadow:
        -1px -1px 0 rgb(7 231 196),  
        1px -1px 0 rgb(7 231 196),
        -1px 1px 0 rgb(7 231 196),
        1px 1px 0 rgb(7 231 196)
    };
}